.margin_top{
/* 	margin-top: 100px; */
}

@media all and (min-width: 720px){
	.products{
		width: 100%;
		height: auto;
		/* display: table; */
	}
	.products .product{
		width: 23%;
		height: auto;
		margin: 3% 1%;
		box-shadow: 1px 1px 3px gray;
		display: inline-block;
		vertical-align: top;
	}
	.products .product .image{
		width: 96%;
		height: auto;
		margin: 5% 2%;
	}
	.products .product h1{
		font-size: 22px;
	}
}

@media all and (min-width: 960px){
	.products{
		width: 100%;
		height: auto;
		display: table;
	}
	.products .product{
		width: 23%;
		height: auto;
		margin: 1%;
		box-shadow: 1px 1px 3px gray;
		display: inline-block;
		vertical-align: top;
	}
	.products .product .image{
		width: 96%;
		height: auto;
		margin: 2%;
	}
	.products .product h1{
		font-size: 22px;
	}
}