!!!
%html(lang="ja")
	%head
		%meta(charset="utf-8")
		%meta(name="keyword" content="")
		%meta(name="description" content="")

		/LINKS
		%style(href="../assets/reset.css")
		%style(href="../assets/jquery-ui.css")
		%style(href="../css/main.css")
		%style(href="./css/main.css")

		
		/OGP
		%meta(name="property" content="")
		%meta(name="property" content="")
		%meta(name="property" content="")
		%meta(name="property" content="")
		%meta(name="property" content="")
		%meta(name="property" content="")
		%meta(name="property" content="")
	
	%body	
		%header
			%section(class="header_include")
				%h1(class="main_logo") 石窯マイスターロロっつの店
				%nav#header_nav.side_line
					%ul#header_ul
						%li.header_side_li
							%a(href="../menu" class="header_a")　レシピ
						%li.header_side_li
						%li.header_side_li
							%a(href="http://moegokoro.com") 萌え心
		
		
		
		%section.reserve_contianer
				

				
						
